@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <a href="#" class="start btn btn-primary">Start</a>
    <a href="#" class="stop btn btn-primary">Stop</a>
</div>

<div id="container" class="row">

</div>

