@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <a href="#" class="start btn btn-primary">Start</a>
    <a href="#" class="stop btn btn-primary">Stop</a>
    <input id="speedSlider" data-slider-id='speedSlider' type="text" data-slider-min="0" data-slider-max="5000" data-slider-step="10" data-slider-value="1000" />
</div>

<div id="container" class="row">

</div>

